<?xml version="1.0" encoding="UTF-8"?>
<apidoc
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="./apidoc.xsd">
    <appName>MyVendor/Package</appName>
    <scheme>app</scheme>
    <docDir>docs</docDir>
    <!-- format: html | md | openapi | llms -->
    <format>html</format>
    <title>MyVendor/Package</title>
    <description>API Document</description>
    <alps>profile.json</alps>
    <links>
        <link rel="BEAR.Sunday" href="https://bearsunday.github.io/"/>
        <link rel="openapi" href="openapi.json"/>
        <link rel="schemas" href="schemas/"/>
    </links>
</apidoc>
