parameters:
  level: max
  paths:
    - src
    - tests

  excludePaths:
    - tests/Fake/*

  ignoreErrors:
    - # Ray.MediaQuery optional dependency - class existence checked at runtime
      message: '#Parameter \#1 \$interface of method Ray\\Di\\InjectorInterface::getInstance\(\) expects#'
      path: src/Config.php
      reportUnmatched: false
